[global]
    load printers = no
    printing = bsd
    printcap name = /dev/null
    disable spoolss = yes
    map to guest = bad user

{% for config in smb_config_sections %}
[{{ config.name }}]
    force user = {{ config.force_user }}
    path = {{ config.path }}
    create mask = {{ config.create_mask | default('0755') }}
    directory mask = {{ config.directory_mask | default('0755') }}
    guest ok = {{ config.guest_ok | default('yes') }}
    writeable = {{ config.writeable | default('yes') }}
    browseable = {{ config.browseable | default('yes') }}

{% endfor %}
